.public-menu-container {
  background: radial-gradient(circle at top, rgba(13, 110, 253, 0.05), #f8f9fa);
}

.transition-hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08) !important;
  }
}

.bg-surface {
  background-color: #ffffff;
}
