/* Specific Local Adjustments */
.page-container {
  padding-bottom: 80px;
}

.border-start-4-primary {
  border-left: 4px solid var(--primary-color) !important;
}

.border-start-4-secondary {
  border-left: 4px solid var(--text-secondary) !important;
}

.hover-danger:hover {
  color: var(--bs-danger) !important;
  background-color: rgba(var(--bs-danger-rgb), 0.1);
  border-radius: 50%;
}

.form-floating > .form-control {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}

.form-floating > label {
  padding: 1rem 0.75rem;
  color: var(--text-secondary);
}

// Dark Mode Specifics
:host-context([data-theme='dark']) {
  .slot-row {
    border-color: var(--border-color) !important;
  }
}
