/* Specific Local Adjustments */
.page-container {
  padding-bottom: 80px;
}

.bg-light-subtle {
  background-color: rgba(var(--primary-rgb), 0.03) !important;
}

// Custom Toggle Style
.form-check-input {
  width: 3em;
  height: 1.5em;
  cursor: pointer;

  &:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
